:root {

    /* Colors */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --white: hsl(255, 100%, 100%);

    /* Neutral Colors */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    /* Typography */
    --body-font: 'Karla', sans-serif;
}

/* General */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: var(--body-font);
    font-size: 1.6rem;
    min-height: 100%;
    background-color: var(--light-gray);
}

h2 {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.225px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 3.2rem;
}

.fluid-wrapper {
    background-color: var(--white);
    min-width: 33.1rem;
    max-width: 63.5rem;
    box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
    border-radius: .5rem;
}
@media (min-width: 768px) {
    .fluid-wrapper {
        border-radius: .5rem;
        overflow: hidden;
    }
}

.principal {
    margin: 2.8rem 2.4rem;
}
@media (min-width: 768px) {
    .principal {
        margin: 4rem;
    }
}

.principal__title {
    margin: 0;
    color: var(--cyan);
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.25px;
}
@media (min-width: 768px) {
    .principal__title {
        font-size: 2.4rem;
        letter-spacing: -0.3px;
    }
}

.principal__subtitle {
    margin: 2.4rem 0 0 0;
    color: var(--bright-yellow);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -0.187px;
}
@media (min-width: 768px) {
    .principal__subtitle {
        font-size: 1.8rem;
        line-height: normal;
        letter-spacing: -0.225px;
    }
}

.principal__text {
    margin: 1.6rem 0 3.2rem 0;
    color: var(--grayish-blue);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: -0.175px;
}
@media (min-width: 768px) {
    .principal__text {
        margin: 1.1rem 0 4rem 0;
        font-size: 1.6rem;
        letter-spacing: -0.2px;
    }
}

.secondary {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .secondary {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.secondary-1 {
    background-color: var(--cyan);
    padding: 2.8rem 2.4rem;
}
@media (min-width: 768px) {
    .secondary-1 {
        padding: 4rem;
    }
}

.secondary-1__title {
    margin: 0;
}

.secondary-1__price {
    margin: 1.8rem 0 0 0;
    display: flex;
    align-items: center;
    gap: 1.1rem;
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
}

.secondary-1__price span {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
    opacity: 0.5;
}

.secondary-1__text {
    margin: .9rem 0 0 0;
    color: var(--white);
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
}

.secondary-1__button {
    all: unset;
    margin: 2.6rem 0 0 0;
    display: block;
    background-color: var(--bright-yellow);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 1.5rem 10.2rem 1.4rem 10.2rem;
    border-radius: .5rem;
    color: var(--white);
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
}
@media (min-width: 768px) {
    .secondary-1__button {
        padding: 1.5rem 8.9rem 1.4rem 8.9rem;
    }
}

.secondary-2 {
    background-color: var(--cyan);
    opacity: .75;
    padding: 2.8rem 2.4rem;
}
@media (min-width: 768px) {
    .secondary-2 {
        padding: 4rem;
    }
}

.secondary-2__title {
    margin: 0;
}

.secondary-2__list {
    margin: 1.8rem 0 0 0;
    padding: 0;
    list-style: none;
}

.secondary-2__list-item {
    margin: 0;
    color: var(--white);
    opacity: .75;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.175px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}